In [4]:
import pandas as pd
dic={"a":[1,2,3,4,5],"b":[6,7,8,9,0],"c":[12,13,14,15,16]}
a=pd.DataFrame(dic)
a
a.to_csv("first_csv1.csv",index=False)

In [5]:
dic={"a":[1,2,3,4,5],"b":[6,7,8,9,0],"c":[12,13,14,15,16]}
a=pd.DataFrame(dic)
a
a.to_csv("first_csv2.csv",index=False,header=[1,2,3])

#read csv

In [7]:
csv_1=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv")
csv_1

,Store ID,Product ID,Date,Units Sold,Sales Revenue (USD),Discount Percentage,Marketing Spend (USD),Store Location,Product Category,Day of the Week,Holiday Effect
0,Spearsland,52372247,2022-01-01,9,2741.69,20,81,Tanzania,Furniture,Saturday,False
1,Spearsland,52372247,2022-01-02,7,2665.53,0,0,Mauritania,Furniture,Sunday,False
2,Spearsland,52372247,2022-01-03,1,380.79,0,0,Saint Pierre and Miquelon,Furniture,Monday,False
3,Spearsland,52372247,2022-01-04,4,1523.16,0,0,Australia,Furniture,Tuesday,False
4,Spearsland,52372247,2022-01-05,2,761.58,0,0,Swaziland,Furniture,Wednesday,False
...,...,...,...,...,...,...,...,...,...,...,...
29995,Spearsland,50239115,2022-01-25,5,2501.15,0,100,Malawi,Clothing,Tuesday,False
29996,Spearsland,50239115,2022-01-26,3,1500.69,0,0,Sudan,Clothing,Wednesday,False
29997,Spearsland,50239115,2022-01-27,6,3001.38,0,0,South Georgia and the South Sandwich Islands,Clothing,Thursday,False
29998,Spearsland,50239115,2022-01-28,5,2501.15,0,0,Haiti,Clothing,Friday,False
29999,Spearsland,50239115,2022-01-29,3,1425.66,5,190,Mozambique,Clothing,Saturday,False

In [9]:
csv_2=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv",nrows=5)
csv_2

,Store ID,Product ID,Date,Units Sold,Sales Revenue (USD),Discount Percentage,Marketing Spend (USD),Store Location,Product Category,Day of the Week,Holiday Effect
0,Spearsland,52372247,2022-01-01,9,2741.69,20,81,Tanzania,Furniture,Saturday,False
1,Spearsland,52372247,2022-01-02,7,2665.53,0,0,Mauritania,Furniture,Sunday,False
2,Spearsland,52372247,2022-01-03,1,380.79,0,0,Saint Pierre and Miquelon,Furniture,Monday,False
3,Spearsland,52372247,2022-01-04,4,1523.16,0,0,Australia,Furniture,Tuesday,False
4,Spearsland,52372247,2022-01-05,2,761.58,0,0,Swaziland,Furniture,Wednesday,False

In [10]:
csv_2=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv",nrows=5,usecols=["Store ID","Discount Percentage"])
csv_2

     Store ID  Discount Percentage
0  Spearsland                   20
1  Spearsland                    0
2  Spearsland                    0
3  Spearsland                    0
4  Spearsland                    0

In [11]:
csv_2=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv",nrows=5,usecols=[0,3])
csv_2

     Store ID  Units Sold
0  Spearsland           9
1  Spearsland           7
2  Spearsland           1
3  Spearsland           4
4  Spearsland           2

In [13]:
csv_2=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv",skiprows=[0])
csv_2

,Spearsland,52372247,2022-01-01,9,2741.69,20,81,Tanzania,Furniture,Saturday,False
0,Spearsland,52372247,2022-01-02,7,2665.53,0,0,Mauritania,Furniture,Sunday,False
1,Spearsland,52372247,2022-01-03,1,380.79,0,0,Saint Pierre and Miquelon,Furniture,Monday,False
2,Spearsland,52372247,2022-01-04,4,1523.16,0,0,Australia,Furniture,Tuesday,False
3,Spearsland,52372247,2022-01-05,2,761.58,0,0,Swaziland,Furniture,Wednesday,False
4,Spearsland,52372247,2022-01-06,8,3046.32,0,41,Bhutan,Furniture,Thursday,False
...,...,...,...,...,...,...,...,...,...,...,...
29994,Spearsland,50239115,2022-01-25,5,2501.15,0,100,Malawi,Clothing,Tuesday,False
29995,Spearsland,50239115,2022-01-26,3,1500.69,0,0,Sudan,Clothing,Wednesday,False
29996,Spearsland,50239115,2022-01-27,6,3001.38,0,0,South Georgia and the South Sandwich Islands,Clothing,Thursday,False
29997,Spearsland,50239115,2022-01-28,5,2501.15,0,0,Haiti,Clothing,Friday,False
29998,Spearsland,50239115,2022-01-29,3,1425.66,5,190,Mozambique,Clothing,Saturday,False

In [14]:
csv_3=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv",index_col="Date")
csv_3

,Store ID,Product ID,Units Sold,Sales Revenue (USD),Discount Percentage,Marketing Spend (USD),Store Location,Product Category,Day of the Week,Holiday Effect
Date,,,,,,,,,,
2022-01-01,Spearsland,52372247,9,2741.69,20,81,Tanzania,Furniture,Saturday,False
2022-01-02,Spearsland,52372247,7,2665.53,0,0,Mauritania,Furniture,Sunday,False
2022-01-03,Spearsland,52372247,1,380.79,0,0,Saint Pierre and Miquelon,Furniture,Monday,False
2022-01-04,Spearsland,52372247,4,1523.16,0,0,Australia,Furniture,Tuesday,False
2022-01-05,Spearsland,52372247,2,761.58,0,0,Swaziland,Furniture,Wednesday,False
...,...,...,...,...,...,...,...,...,...,...
2022-01-25,Spearsland,50239115,5,2501.15,0,100,Malawi,Clothing,Tuesday,False
2022-01-26,Spearsland,50239115,3,1500.69,0,0,Sudan,Clothing,Wednesday,False
2022-01-27,Spearsland,50239115,6,3001.38,0,0,South Georgia and the South Sandwich Islands,Clothing,Thursday,False
2022-01-28,Spearsland,50239115,5,2501.15,0,0,Haiti,Clothing,Friday,False
2022-01-29,Spearsland,50239115,3,1425.66,5,190,Mozambique,Clothing,Saturday,False

In [15]:
csv_4=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv",header=2 )
csv_4

,Spearsland,52372247,2022-01-02,7,2665.53,0,0.1,Mauritania,Furniture,Sunday,False
0,Spearsland,52372247,2022-01-03,1,380.79,0,0,Saint Pierre and Miquelon,Furniture,Monday,False
1,Spearsland,52372247,2022-01-04,4,1523.16,0,0,Australia,Furniture,Tuesday,False
2,Spearsland,52372247,2022-01-05,2,761.58,0,0,Swaziland,Furniture,Wednesday,False
3,Spearsland,52372247,2022-01-06,8,3046.32,0,41,Bhutan,Furniture,Thursday,False
4,Spearsland,52372247,2022-01-07,6,2284.74,0,0,Suriname,Furniture,Friday,False
...,...,...,...,...,...,...,...,...,...,...,...
29993,Spearsland,50239115,2022-01-25,5,2501.15,0,100,Malawi,Clothing,Tuesday,False
29994,Spearsland,50239115,2022-01-26,3,1500.69,0,0,Sudan,Clothing,Wednesday,False
29995,Spearsland,50239115,2022-01-27,6,3001.38,0,0,South Georgia and the South Sandwich Islands,Clothing,Thursday,False
29996,Spearsland,50239115,2022-01-28,5,2501.15,0,0,Haiti,Clothing,Friday,False
29997,Spearsland,50239115,2022-01-29,3,1425.66,5,190,Mozambique,Clothing,Saturday,False

In [16]:
csv_5=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv",names=["col1","col2","col3","col4","col5"])
csv_5

                                                                                                      col1  \
Store ID   Product ID Date       Units Sold Sales Revenue (USD) Discount Percentage  Marketing Spend (USD)
Spearsland 52372247   2022-01-01 9          2741.69             20                                      81
                      2022-01-02 7          2665.53             0                                        0
                      2022-01-03 1          380.79              0                                        0
                      2022-01-04 4          1523.16             0                                        0
...                                                                                                    ...
           50239115   2022-01-25 5          2501.15             0                                      100
                      2022-01-26 3          1500.69             0                                        0
                      2022-01-27 6          3001.38             0                                        0
                      2022-01-28 5          2501.15             0                                        0
                      2022-01-29 3          1425.66             5                                      190

                                                                                                                             col2  \
Store ID   Product ID Date       Units Sold Sales Revenue (USD) Discount Percentage                                Store Location
Spearsland 52372247   2022-01-01 9          2741.69             20                                                       Tanzania
                      2022-01-02 7          2665.53             0                                                      Mauritania
                      2022-01-03 1          380.79              0                                       Saint Pierre and Miquelon
                      2022-01-04 4          1523.16             0                                                       Australia
...                                                                                                                           ...
           50239115   2022-01-25 5          2501.15             0                                                          Malawi
                      2022-01-26 3          1500.69             0                                                           Sudan
                      2022-01-27 6          3001.38             0                    South Georgia and the South Sandwich Islands
                      2022-01-28 5          2501.15             0                                                           Haiti
                      2022-01-29 3          1425.66             5                                                      Mozambique

                                                                                                 col3  \
Store ID   Product ID Date       Units Sold Sales Revenue (USD) Discount Percentage  Product Category
Spearsland 52372247   2022-01-01 9          2741.69             20                          Furniture
                      2022-01-02 7          2665.53             0                           Furniture
                      2022-01-03 1          380.79              0                           Furniture
                      2022-01-04 4          1523.16             0                           Furniture
...                                                                                               ...
           50239115   2022-01-25 5          2501.15             0                            Clothing
                      2022-01-26 3          1500.69             0                            Clothing
                      2022-01-27 6          3001.38             0                            Clothing
                      2022-01-28 5          2501.15             0                            Clothing
                      2022-01-29 3          1425.66             5                            Clothing

                                                                                                col4  \
Store ID   Product ID Date       Units Sold Sales Revenue (USD) Discount Percentage  Day of the Week
Spearsland 52372247   2022-01-01 9          2741.69             20                          Saturday
                      2022-01-02 7          2665.53             0                             Sunday
                      2022-01-03 1          380.79              0                             Monday
                      2022-01-04 4          1523.16             0                            Tuesday
...                                                                                              ...
           50239115   2022-01-25 5          2501.15             0                            Tuesday
                      2022-01-26 3          1500.69             0                          Wednesday
                      2022-01-27 6          3001.38             0                           Thursday
                      2022-01-28 5          2501.15             0                             Friday
                      2022-01-29 3          1425.66             5                           Saturday

                                                                                               col5
Store ID   Product ID Date       Units Sold Sales Revenue (USD) Discount Percentage  Holiday Effect
Spearsland 52372247   2022-01-01 9          2741.69             20                            False
                      2022-01-02 7          2665.53             0                             False
                      2022-01-03 1          380.79              0                             False
                      2022-01-04 4          1523.16             0                             False
...                                                                                             ...
           50239115   2022-01-25 5          2501.15             0                             False
                      2022-01-26 3          1500.69             0                             False
                      2022-01-27 6          3001.38             0                             False
                      2022-01-28 5          2501.15             0                             False
                      2022-01-29 3          1425.66             5                             False

[30001 rows x 5 columns]

In [18]:
csv_6=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv",header=None )
csv_6

,0,1,2,3,4,5,6,7,8,9,10
0,Store ID,Product ID,Date,Units Sold,Sales Revenue (USD),Discount Percentage,Marketing Spend (USD),Store Location,Product Category,Day of the Week,Holiday Effect
1,Spearsland,52372247,2022-01-01,9,2741.69,20,81,Tanzania,Furniture,Saturday,False
2,Spearsland,52372247,2022-01-02,7,2665.53,0,0,Mauritania,Furniture,Sunday,False
3,Spearsland,52372247,2022-01-03,1,380.79,0,0,Saint Pierre and Miquelon,Furniture,Monday,False
4,Spearsland,52372247,2022-01-04,4,1523.16,0,0,Australia,Furniture,Tuesday,False
...,...,...,...,...,...,...,...,...,...,...,...
29996,Spearsland,50239115,2022-01-25,5,2501.15,0,100,Malawi,Clothing,Tuesday,False
29997,Spearsland,50239115,2022-01-26,3,1500.69,0,0,Sudan,Clothing,Wednesday,False
29998,Spearsland,50239115,2022-01-27,6,3001.38,0,0,South Georgia and the South Sandwich Islands,Clothing,Thursday,False
29999,Spearsland,50239115,2022-01-28,5,2501.15,0,0,Haiti,Clothing,Friday,False
30000,Spearsland,50239115,2022-01-29,3,1425.66,5,190,Mozambique,Clothing,Saturday,False

In [ ]:
csv_=pd.read_csv("C:\\Users\\Amir\\Downloads\\Retail_sales.csv",dtype={"Sales Revenue (USD)":"int"})
csv_3